body {
    background-color: rgb(234, 227, 227);
    height: 100vh;
}

h1 {
    color: rgba(0, 0, 0, 0.66);
    text-align: center;
}

#add-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 2.5rem;

    margin: 3rem auto;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0.7rem;
    background-color: #fff;
}

#input-area {
    flex: 5;
    margin: 0.5rem;
    height: 1.9rem;
    border-radius: 3px;
}

#add-btn {
    flex: 1;
    margin: 0.5rem;

    background-color: #fff;
    color: green;
    margin-right: 10px;
    border: solid 2px green;
    font-size: 1.5rem;
}

#add-btn:hover {
    background-color: green;
    color: #fff;
}

/* Styling for task items when get added */

.task-item {
    width: 22rem;
    background-color: #fff;
    
    margin: 0.5rem auto;
    padding: 1rem;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item li {
    flex: 4;
}

.task-item button {
    flex: 1;
}

.task-item .check-btn {
    color: orange;
    margin-right: 10px;
    border: solid 2px orange;
    font-size: 1.5rem;
}

.task-item .check-btn:hover {
    background-color: orange;
    color: #fff;
}

.task-item .delete-btn {
    color: red;
    border: solid 2px red;
    font-size: 1.3rem;
}

.task-item .delete-btn:hover {
    background-color: red;
    color: #fff;
}



