* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0.25turn, #4d7f94, #8d9d81, #ae7941);
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 5%;
}

.add-task {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.543);
    background-color: transparent;
    padding: 10px;
    outline: none;
    font-size: 18px;
}

h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.task {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 18px;
    margin: 6px 0;
    overflow: hidden;
}

.task i {
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.completed .task {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}