:root {
    --input-width: 10rem;
    --input-height: 1.6rem;
    --input-border: 1px solid green;
    --button-width: 3.5rem;
    --button-height: 2rem;
    --button-border: 0.5rem;
}

header {
    text-align: center;
}

/* Input field */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div input {
    width: var(--input-width);
    height: var(--input-height)
}

#addTask button {
    width: var(--button-width);
    height: var(--button-height);
    border: var(--button-border)
    padding: 0.5rem;
}

.task {
    text-align: center;
}

/* Task field */

.task span {
    border: 1px solid black;    
    min-width: fit-content
}

span {
    width: var(--input-width);
    height: var(--input-height);
}



